#chatmessagebox {
    list-style-type: none;
    margin:0px;
    flex-direction: column-reverse;
    height:95%;
    overflow:none;
    position: relative;
    padding-inline-start: 0px;
}

#chatmessagebox li:nth-child(odd) {
    background: #eee;
}

html, body {
    margin:0px;
    height:100%;
    width:100%;
}